{% extends 'base_login.html' %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block page_title %}Cadastro de Usuário{% endblock %}

{% block content %}
  <form method="POST" class="mt-3">
     <div class="mb-3">
      <label for="usuario" class="form-label">Usuário:</label>
      <input type="text" id="usuario" name="usuario" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Senha:</label>
      <input type="password" id="senha" name="senha" class="form-control" required>
      <small class="form-text text-muted">Use ao menos 8 caracteres, com letras e números.</small>
    </div>

    <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
  </form>

  <div class="mt-3 text-center">
    <p>Já tem conta? 
      <a href="{{ url_for('main.login') }}" class="btn btn-link">Voltar ao login</a>
    </p>
  </div>
{% endblock %}
