{% extends 'base.html' %}
{% block title %}Listar Usuários{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Usuários Cadastrados</h3>
    
    <table class="table table-bordered" id="tabelaUsuarios">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Perfil</th>
                <th>Ação</th>
            </tr>
        </thead>
       <tbody>
    {% for user in usuarios %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.usuario }}</td>
        <td>{{ user.perfil }}</td>
        <td>
          <a href="{{ url_for('main.trocar_usuario', user_id=user.id) }}" class="btn btn-sm btn-primary">
            Trocar para este usuário
          </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>

<!-- DataTables -->
<script>
    $(document).ready(function() {
        $('#tabelaUsuarios').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
            }
        });
    });
</script>
{% endblock %}
