{% extends 'base.html' %}
{% block title %}Listar Usuários{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Usuários Cadastrados</h3>
    
    <table class="table table-bordered" id="tabelaUsuarios">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.usuario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- DataTables -->
<script>
    $(document).ready(function() {
        $('#tabelaUsuarios').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
            }
        });
    });
</script>
{% endblock %}
